<% include ./partials/header %>
            <div class=container>
                
                
                     <div class="col-lg-12 nobottommargin">
                        <form id="register-form" name="register-form" class="nobottommargin" action="/register" method="post">

                            <div class="col_half">
                                <label for="register-form-mail">Mail:</label>
                                <input type="email" id="register-form-mail" name="user[username]" value="" class="form-control" />
                            </div>

                            <div class="col_half col_last">
                                <label for="register-form-fullname">Full Name:</label>
                                <input type="text" id="register-form-fullname" name="user[fullname]" value="" class="form-control" />
                            </div>

                            <div class="clear"></div>

                            <div class="col_half col_last">
                                <label for="">Permission:</label>
                                <select name="user[permission]" class="select-1 form-control">
                                    <option>User</option>
                                    <option>Admin</option>
                                </select>
                            </div>

                            <div class="clear"></div>

                            <div class="col_half">
                                <label for="register-form-password">Password:</label>
                                <input type="password" id="register-form-password" name="password" value="" class="form-control" />
                            </div>

                            <div class="clear"></div>

                            <div class="col_full nobottommargin">
                                <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register">Register Now</button>
                            </div>

                        </form>
                    </div>
            </div>
<% include ./partials/footer %>