.list-buttons {
    float: left;
    margin-bottom: -21px;
    margin-top: -6px;
}

.del-form {
    padding-left: 5px;
}

.login-container {
    width: 300px;
    margin: 100px auto;
}

.form-container {
    margin: 20px auto;
    min-width: 800px;
}

.allData-table {
    max-width: 45%;
    min-width: 45%;
    float: left;
    background-color: white;
    margin-bottom: 20px;
}

.target-data {
    max-width: 45%;
    float: right;
    min-width: 45%;
    background-color: white;
}

.form-container2 {
    width: 200px
}

.text-green {
    color: green;
}

body {
    background-color: #dddddd;
}

.magic-btn {
    display: none;
}
